{% load static %}

<!DOCTYPE html>
<html lang="en">
    <style>
        .hearo{
            width: 27.5px;
            height: 27.5px;
        }
        .sos{
            width:35px;
            height:30px;
        }
        .gps{
            width:35px;
            height:35px;
        }
        .switch{
            width:70px;
            height:70px;
        }
        .decision{
            width:75px;
            height:75px;
        }
        #show{
            cursor:grab;
        }
    </style>
<head>
  <meta charset="utf-8">
  <title>HearO</title>
  <link rel="shortcut icon" href="{% static 'images/hearo_logo_3.png' %}" class="hearo">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="Free HTML Templates" name="keywords">
  <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    {% comment %} <link href="img/favicon.ico" rel="icon"> {% endcomment %}

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@500;600;700&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet"> 

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<div>

  {% include "navbar.html" %}
  

    <!-- Page Header Start -->
    <div class="container-fluid bg-dark p-5">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="display-4 text-white">비밀번호 수정</h1>
                <a>Edit Password</a>
            </div>
        </div>
    </div>
    <!-- Page Header End -->
    
    <!--info Start -->
<body>
    <div class="container-fluid bg-secondary px-0" >
        
        <br><br>
        <div class="row g-0">
            <div class="col-lg-6 py-6 px-5">
              <form method="post" action="{% url 'SignIn:password' %}">
                {% csrf_token %}
                {% comment %} {% include "form_errors.html" %} {% endcomment %}
                <div class="row g-3">
                    <div class="col-12">
                        <label for="form-floating-2">기존 비밀번호</label>
                        <div class="form-floating">
                           {{form.old_password}}
                           <br>
                           {% for error in form.old_password.errors %}
                           <div class="error" style="color: #F3525A;">
                                {{ error }}
                           </div>
                           {% endfor %}
                        </div>
                    </div>
                
                    <div class="col-12">
                        <label for="form-floating-3">비밀번호</label>
                        <div class="form-floating">
                          {{form.new_password1}}
                          {% for error in form.new_password1.errors %}
                          <div class="error" style="color: #F3525A;">
                               {{ error }}
                          </div>
                          {% endfor %}
                        </div>
                    </div>
                
                    <div class="col-12">
                        <label for="form-floating-3">비밀번호 확인</label>
                        <div class="form-floating">
                          {{form.new_password2}}
                          <br>
                          {% for error in form.new_password2.errors %}
                          <div class="error" style="color: #F3525A;">
                               {{ error }}
                          </div>
                          {% endfor %}
                        </div>
                    </div>
                </div>
                   <br>
                <div class="col-12 hc d-flex justify-content-between" style="width: 250px;">
                    <a href="{% url 'SignIn:profile' %}" class="btn btn-primary">돌아가기</a>
                    <button class="btn btn-primary" type="submit">변경하기</button>
                </div>
                </div>

                        
                       
    
                        <div class="background" >
                          
                            
                          
                        
                        </div>
                    
                        
                    </div>
           
                
            </div>
            
        </div>
       
    </div>
    <!-- info End -->

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script> 
    <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script> 
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script> 

    <!-- Template Javascript -->
    <script src="{% static 'js/main.js' %}"></script>

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
  
    </script>
    </body>
    </html>
    
