/********** Template CSS **********/
:root {
  --primary: #F3525A;
  --secondary: #F6F6F6;
  --light: #FFFFFF;
  --dark: #152440;
}

HTML CSSResult Skip Results Iframe
EDIT ON
/* resest */
input{
-webkit-appearance: none;
-webkit-border-radius:  0;
}

@keyframes blink-effect {
50% {
  opacity: 0;
}
}

.blink {
animation: blink-effect 1s step-end infinite;

/*
animation-name: blink-effect;
animation-duration: 1s;
animation-iteration-count:infinite;
animation-timing-function:step-end;
*/
}

#container{
display: flex;
width: 100%;
height: 30rem;
justify-content:center;
align-items:center;
}
.toggle-switch input[type=checkbox]{
display: none;
}

.toggle-track{
display: inline-block;
position: relative;
width: 200px;
height: 200px;
border-radius:100px;
background: #8b8b8b;
}
/* .toggle-track:before{
content:'';
display: block;
position: absolute;
top: 3px;
left: -15px;
width: 30px;
height: 30px; 
margin: 5px;
background: #fff;
border-radius:100%;
border:1px solid #8b8b8b;
transition:left 0.3s;
} */
.toggle-switch input[type=checkbox] + label .toggle-track:after{
content:'OFF';
display: inline-block;
position: absolute;
top: 43%;
right: 43%;
color: #fff;
}

#sos_on{
padding-top: 23%;
padding-left: 15%;
padding-right: 10%;
}

#sos_off{
padding-top: 23%;
padding-left: 15%;
padding-right: 10%;
}

.toggle-switch input[type=checkbox]:checked + label .toggle-track{
background: var(--primary);
}
.toggle-switch input[type=checkbox]:checked + label .toggle-track:before{
left: 30px;
border:1px solid #e51737;
}
.toggle-switch input[type=checkbox]:checked + label .toggle-track:after{
content:'ON';
left: 45%;
}


.setting {
position: absolute;
top: 85%;
left: 70%;
right: 30%;
bottom: 20%;
}

.info {
position: absolute;
top: 85%;
left: 79%;
right: 21%;
bottom: 20%;
}

/* .onoff-switch:before {
position: absolute;
content: "";
height: 22px;
width: 22px;
left: 4px;
bottom: 4px;
background-color: #fff;
-webkit-transition: .5s;
transition: .4s;
border-radius:20px;
} */

.switch-button input:checked + .onoff-switch {
background-color: #fd7980;
box-shadow: inset 1px 5px 1px var(--primary);
}

.switch-button input:checked + .onoff-switch:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}

label {
line-height: 2rem;
}

input::placeholder {
font-size: 0.7em;
font-style: italic;
}

.info #info__id {
position: relative;
}

.file label{
display: inline-block;
width: 80px;
height: 35px;
background-color: var(--primary);
color: white;
cursor: pointer;
line-height: 35px;
border-radius: 5px;
text-align: center;
}

.file input[type="file"]{
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
clip: rect(0,0,0,0);
overflow: hidden;
padding: 0;
}

.file .upload-name {
display: inline-block;
height: 35px;
font-size:18px; 
padding: 0 10px;
vertical-align: middle;
background-color: #f5f5f5;
border: 1px solid #ebebeb;
border-radius: 5px;

}

#center {
text-align: center;
}

#right{
text-align: right;
}

#info__id button {
position: absolute;
width: 90px;
height: 40px;
top: 0;
bottom: 0;
right: 5px;
margin: auto 0;
border: none;
color: white;
background-color: var(--primary);
border:10px;
border-radius:25px;
}

body{
  margin:0;
  font:600 16px/18px 'Open Sans',sans-serif;
}
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.login-wrap{
  width:100%;
  margin:auto;
  max-width:525px;
  min-height:600px;
  position:relative;
}
.login-html{
  width:100%;
  height:100%;
  position:absolute;
  padding:90px 70px 50px 70px;
}
.login-html .sign-in-htm,
.login-html .sign-in-htm,
.login-html .sign-up-htm{
  top:0;
  left:0;
  right:0;
  bottom:0;
  position:absolute;
  transform:rotateY(180deg);
  backface-visibility:hidden;
  transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
  display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
  text-transform:uppercase;
}
.login-html .tab{
  font-size:22px;
  margin-right:15px;
  padding-bottom:5px;
  margin:0 15px 10px 0;
  display:inline-block;
  border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
  color: var(--primary);
  border-color:var(--primary);
}
.login-form{
  min-height:345px;
  position:relative;
  perspective:1000px;
  transform-style:preserve-3d;
}
.login-form .group{
  margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input{
  width:100%;
}
.login-form .group .button{
  width:100%;
  color:white;
}
.login-form .group .input{
  border-bottom-style: 2px solid;
  border-bottom-color: #aaa;
  padding:15px 20px;
}

.login-form .group .button{
  border:10px;
  padding:15px 20px;
  border-radius:25px;
}

.login-form .group input[data-type="password"]{
  -text-security:circle;
  -webkit-text-security:circle;
}
.login-form .group .label{
  color:#aaa;
  font-size:12px;
}
.login-form.group{
  width: 100%;
}
.login-form .group .button{
  background:var(--primary);
}
.login-form .group1 .button{
  width:auto;
  color:white;
}
.login-form .group1 .button{
  border:10px;
  padding:15px 20px;
  border-radius:25px;
}
.login-form .group1 .button{
  background:var(--primary);
}

.login-form .group label .icon{
  width:15px;
  height:15px;
  border-radius:2px;
  border-style: 1px solid gray;
  position:relative;
  display:inline-block;
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
  content:'';
  width:10px;
  height:2px;
  background:#fff;
  position:absolute;
  transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
  left:3px;
  width:5px;
  bottom:6px;
  border-style: 2px solid;
  border-color: #b9afaf;
  transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
  top:6px;
  right:0;
  transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
  color:#b9afaf;
}
.login-form .group .check:checked + label .icon{
  background:var(--primary);
}
.login-form .group .check:checked + label .icon:before{
  transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
  transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
  transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
  transform:rotate(0);
}
body{
  line-height:2rem;        
  font-family:"맑은 고딕";
}
ul, li, a{ 
  list-style:none;
  text-align:center;
  padding:0;
  margin:0;
}

#mainWrapper{
  width: 800px;
  margin: 0 auto; /*가운데 정렬*/
}

#mainWrapper > ul > li:first-child {
  text-align: center;
  font-size:14pt;
  height:40px;
  vertical-align:middle;
  line-height:30px;
}

#ulTable {margin-top:10px;}


#ulTable > li:first-child > ul > a {
  background-color: var(--primary);
  color: white;
  height: 35px;
  font-weight:bold;
  text-align:center;
}

#ulTable > li > ul {
  clear:both;
  padding:0px auto;
  position:relative;
  min-width:40px;
}
#ulTable > li > ul > a { 
  float:left;
  font-size:10pt;
  border-bottom:1px solid silver;
  vertical-align:baseline;
}    

#ulTable > li > ul > a:first-child               {width:10%;} /*No 열 크기*/
#ulTable > li > ul > a:first-child +a           {width:20%;} /*제목 열 크기*/
#ulTable > li > ul > a:first-child +a+a        {width:20%;} /*작성자 열 크기*/
#ulTable > li > ul > a:first-child +a+a+a       {width:50%;} /*작성날짜 열 크기*/

#divPaging {
  clear:both; 
  margin:0 auto; 
  width:220px; 
  height:50px;
}

#txtKeyWord {
height: 35px;
}

#divPaging > div {
  float:left;
  width: 30px;
  margin:0 auto;
  text-align:center;
}

#liSearchOption {clear:both;}
#liSearchOption > div {
  margin:0 auto; 
  width:auto; 
  height:120px;

}

.board_wrap {
width: 1000px;
margin: 100px auto;
}

.left {
  text-align : left;
}

.hr{
  height:2px;
  margin:60px 0 50px 0;
  background:rgba(255,255,255,.2);
}
.foot-lnk{
  text-align:center;
}

.hc {
  width: 300px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.vc{
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}

#center{
text-align: center;
}

#right{
text-align: right;
}

h1,
h2,
.font-weight-bold {
  font-weight: 700 !important;
}

h3,
h4,
.font-weight-semi-bold {
  font-weight: 600 !important;
}

h5,
h6,
.font-weight-medium {
  font-weight: 500 !important;
}

.pt-6 {
  padding-top: 90px;
}

.pb-6 {
  padding-bottom: 90px;
}

.py-6 {
  padding-top: px;
  padding-bottom: 100%;
}

.btn {
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  transition: .5s;
}

.btn-primary {
  color: #FFFFFF;
}

.btn-square {
  width: 36px;
  height: 36px;
}

.btn-sm-square {
  width: 28px;
  height: 28px;
}

.btn-lg-square {
  width: 46px;
  height: 46px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
}

.top-shape::before {
  position: absolute;
  content: "";
  width: 35px;
  height: 100%;
  top: 0;
  left: -17px;
  background: var(--primary);
  transform: skew(40deg);
}

.navbar-light .navbar-nav .nav-link {
  font-family: 'Barlow', sans-serif;
  padding: 35px 15px;
  font-size: 18px;
  text-transform: uppercase;
  color: var(--dark);
  outline: none;
  transition: .5s;
  text-align: left;
  line-height: 1em;
}

.sticky-top.navbar-light .navbar-nav .nav-link {
  padding: 20px 15px;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
  color: var(--primary);
}

@media (max-width: 991.98px) {
  .navbar-light .navbar-nav .nav-link  {
      padding: 10px 0;
  }
}

.carousel-caption {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(21, 36, 64, .7);
  z-index: 1;
}

@media (max-width: 576px) {
  .carousel-caption h5 {
      font-size: 14px;
      font-weight: 500 !important;
  }

  .carousel-caption h1 {
      font-size: 30px;
      font-weight: 600 !important;
  }
}

.carousel-control-prev,
.carousel-control-next {
  width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 3rem;
  height: 3rem;
}

.service-item {
  position: relative;
  overflow: hidden;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: .3s;
}

.service-item::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 50px;
  bottom: -50px;
  left: 0;
  background: var(--light);
  border-radius: 100% 100% 0 0;
  box-shadow: 0px -10px 5px #EEEEEE;
  transition: .5s;
}

.service-item:hover::after {
  bottom: -25px;
} */

.service-item p {
  transition: .3s;
}

.service-item:hover p {
  margin-bottom: 25px !important;
}

.team-item img {
  transform: scale(1.15);
  margin-left: -30px;
  transition: .5s;
}

.team-item:hover img {
  margin-left: 0;
}

.team-item .team-text {
  left: -100%;
  transition: .5s;
}

.team-item .team-text::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  top: 50%;
  right: -60px;
  margin-top: -30px;
  border: 30px solid;
  border-color: transparent transparent transparent var(--primary);
}

.team-item:hover .team-text {
  left: 0;
}

.testimonial-carousel .owl-nav {
  margin-top: 30px;
  display: flex;
  justify-content: start;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next{
  position: relative;
  margin: 0 5px;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  background: var(--primary);
  font-size: 22px;
  border-radius: 45px;
  transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
  color: var(--dark);
}

.testimonial-carousel .owl-item img {
  width: 90px;
  height: 90px;
}

.blog-item img {
  transition: .5s;
}

.blog-item:hover img {
  transform: scale(1.1);
}